body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #202020;
}

.hero-section {
    width: 100%;
    height: 100vh;
    text-align: left;
    color: white;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    font-size: 1rem;
    font-family: Arial, sans-serif;
    position: relative;
    z-index: 1;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(26, 58, 103, 0.5), rgba(26, 58, 103, 0)),
    radial-gradient(circle, rgba(70, 101, 167, 0.5), rgba(70, 101, 167, 0)),
    radial-gradient(circle, rgba(108, 122, 137, 0.5), rgba(108, 122, 137, 0));
    background-size: 200% 200%;
    animation: moveGradient 16s infinite;
    z-index: -1;
}

@keyframes moveGradient {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 50% 100%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 0;
    }
    100% {
        background-position: 0 50%;
    }
}

.hero-left {
    background-color: transparent;
    padding-top: 160px;
    padding-left: 50px;
    width: 60%;
}

.hero-right {
    background-color: transparent;
    width: 40%;
}

#hero {
    width: 600px;
    padding-left: 120px;
    flex-direction: row;
}
